Language: Java
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BinPackArguments: false
BinPackParameters: OnePerLine
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: Align
BreakAfterReturnType: Automatic
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyReturnTypeOnItsOwnLine: 1000
IndentCaseLabels: true
IndentWrappedFunctionNames: true
KeepEmptyLines:
  AtStartOfFile: false
  AtStartOfBlock: true
MaxEmptyLinesToKeep: 2
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true

